.DS_Store
migrations/
db
# ------
# Common
# ------
*~
.svn
.cvs
*.bak
*.swp
Thumbs.db

# -----------------------
# Local Development Tools
# -----------------------
/node_modules
/npm-debug.log

# ---------------
# Compiled assets
# ---------------
.sass-cache
_site

doks
kat
private.key
.bin
test-dir
